<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          DETAIL PAGE PLACEHOLDER
        </div>
      </div>
    </div>
  </div>
</div>
