<div class="card">
  <div class="card-body">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Search ..." (keyup.enter)="doSearch()">
  </div>
</div>
