<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-search (onSearch)="handleSearch($event)"></app-search>
      <br>
      <app-element [character]="character" *ngFor="let character of characters"></app-element>
    </div>
  </div>
</div>
